/* Aside/Aside.module.css */
.aside {
  width: 300px;
  padding: 15px;
  background-color: #f4f4f9;
  border-left: 2px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  right: 0;
  top: 60px;
  bottom: 0;
  overflow-y: auto;
}

